body {
  overflow-y: scroll;
  color: #404041;
  padding: 0; }

h1 {
  margin-top: 30px; }

h1, h2 {
  margin-bottom: 20px; }

a {
  color: #3b9ca6;
  text-decoration: underline; }

.nav a, .navbar a, .btn, a.list-group-item, a.slogan {
  text-decoration: none; }

a:focus, a:hover {
  color: #0f5865; }

:target {
  -webkit-animation: from-yellow-to-white 5s;
  -moz-animation: from-yellow-to-white 5s;
  -o-animation: from-yellow-to-white 5s;
  animation: from-yellow-to-white 5s; }
@-webkit-keyframes from-yellow-to-white {
  from {
    background: yellow; }
  to {
    background: white; } }
@-moz-keyframes from-yellow-to-white {
  from {
    background: yellow; }
  to {
    background: white; } }
@-o-keyframes from-yellow-to-white {
  from {
    background: yellow; }
  to {
    background: white; } }
@keyframes from-yellow-to-white {
  from {
    background: yellow; }
  to {
    background: white; } }
.navbar {
  margin-bottom: 0; }
  .navbar .navbar-brand img {
    margin-top: -4px; }

.navbar-inverse {
  background-color: black; }
  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-inverse .navbar-brand,
  .navbar-inverse .navbar-brand:hover,
  .navbar-inverse .navbar-brand:focus {
    color: white; }
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus {
    text-decoration: underline; }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: saddlebrown; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 74px; }

footer {
  width: 100%;
  background: #dcddde;
  border-top: solid 1px #bcbdc0;
  position: absolute;
  bottom: 0;
  height: 44px;
  color: #404041;
  font-size: 12px; }
  footer a {
    color: inherit;
    text-decoration: underline; }
  footer img {
    vertical-align: middle; }
  footer .my-row {
    line-height: 24px;
    height: 24px;
    padding-top: 10px; }

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5; }

.my-home-page {
  /* temp */
  /* end temp */
  /* custom span-line */
  /* header */
  /* main contents */
  /* temp */
  /* end temp */ }
  .my-home-page h3 {
    text-transform: uppercase; }
  .my-home-page .center {
    max-width: 900px;
    margin: auto;
    text-align: center; }
  .my-home-page li {
    list-style: none; }
  .my-home-page header {
    height: 250px; }
  .my-home-page .top_header {
    text-align: left; }
  .my-home-page .top_header .logo {
    margin-left: 15px;
    width: 100px;
    height: 100px; }
  .my-home-page .bottom_header {
    margin: auto; }
  .my-home-page .bottom_header .logo {
    width: 100%;
    margin: auto;
    max-width: 300px; }
  .my-home-page main {
    min-height: calc(100% - 280px);
    height: auto;
    overflow: hidden; }
  .my-home-page footer {
    height: 30px;
    line-height: 30px;
    color: #555; }
  .my-home-page footer p {
    margin: 0px; }
  .my-home-page footer a {
    color: #555; }
  .my-home-page h2, .my-home-page h3, .my-home-page nav {
    font-family: "BEBAS", "Lato", "Arial", sans-serif;
    font-size: 220%; }
  .my-home-page p {
    font-size: 14px; }
  .my-home-page .custom-padding {
    padding: 5%; }
  .my-home-page .span-line {
    display: block;
    height: 5px;
    width: 70px;
    margin: 10px 0px; }
  .my-home-page .span-line-white {
    background-color: #FBFCF0; }
  .my-home-page .span-line-black {
    background-color: #1D1E1C; }
  .my-home-page .span-line-orange {
    background-color: #CC6714; }
  .my-home-page header {
    height: auto;
    min-height: 150px;
    overflow: hidden;
    background-image: url("/resources/images/giovanni/Coffee Scene 3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    color: #FBFCF0;
    text-shadow: 0px 0px 20px #1D1E1C; }
  .my-home-page header nav {
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    text-align: right; }
  .my-home-page header nav a {
    text-decoration: none;
    color: #FBFCF0; }
  .my-home-page header nav a:hover {
    border-bottom: 2px solid #fefefe; }
  .my-home-page .bottom_header .logo {
    position: relative;
    margin-top: -24px; }
  .my-home-page .mobile-menu {
    display: none;
    font-size: 50% !important;
    line-height: 400%;
    background-color: #1D1E1C; }
  .my-home-page .mobile-menu a {
    color: #64350D; }
  .my-home-page .split-view {
    font-size: 0px; }
  .my-home-page .box-view {
    font-size: 16px;
    display: inline-block;
    width: 50%;
    /* don't mind the padding */
    min-width: 200px;
    vertical-align: top; }
  .my-home-page .split-view:nth-child(2) .box-view:nth-child(1) {
    background-color: #000;
    color: #FBFCF0; }
  .my-home-page .split-view:nth-child(2) .box-view:nth-child(1) h3,
  .my-home-page .split-view:nth-child(2) .box-view:nth-child(2) h3:nth-child(2) {
    color: #CC6714; }
  .my-home-page .box-view iframe {
    display: block;
    margin: auto; }
  .my-home-page #partners {
    background-color: #3A2514;
    color: #FBFCF0; }
  .my-home-page #partners img {
    height: 150px;
    margin: 10px auto; }
  .my-home-page .bottom_header .logo {
    width: 200px;
    height: 200px;
    background: #000; }
  .my-home-page #partners img {
    width: auto;
    max-width: 100%; }
  @media all and (max-width: 768px) {
    .my-home-page .box-view {
      display: block;
      width: auto; } }
  @media all and (max-width: 500px) {
    .my-home-page .bottom_header .logo {
      width: 100px;
      height: 100px;
      margin-top: 0px;
      margin-right: 10px;
      vertical-align: top; }
    .my-home-page .bottom_header h3 {
      display: inline-block;
      margin: 0px; }
    .my-home-page header nav {
      display: none; }
    .my-home-page .mobile-menu {
      display: block; } }

.login-form {
  max-width: 30em;
  padding: 5px 30px 15px;
  margin: 50px auto;
  background: #f7f7f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, #afafaf 0 14px 50px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, #afafaf 0 14px 50px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, #afafaf 0 14px 50px 0; }

/*# sourceMappingURL=site.css.map */
