{% extends 'page__base.twig' %}

{% block main %}

<main>

		{% if user %}

			{% if user == '404' %}
				
				<h3>User profile not found. Mmm... maybe nobody is here...</h3>

			{% else %}

				{% include 'community__profile.twig' ignore missing %}
			
			{% endif %}

		{% else %}

			{% include 'community__filters.twig' ignore missing %}

			{% if users %}

				<div class="list_view list_view--linear" id="people_wrapper">

					{% for user in users %}

						{% include 'community__userbox.twig' ignore missing %}

					{% endfor %}

				</div>

			{% endif %}

		{% endif %}

</main>

{% endblock %}