
<div class="filter_menu filter_menu--people">
	<span class="filter_menu__button" id="filter_button--STUDENT" onclick="filterResults('STUDENT',this)">Students</span>
	<span class="filter_menu__button" id="filter_button--MENTOR" onclick="filterResults('MENTOR',this)">Mentors</span>
	<span class="filter_menu__button" id="filter_button--ALL" onclick="removeFilters()">All</span>

	<span class="change_view_button" onclick="toggleLayout()">
		<img src="../app/assets/pics/default/gridico.png" id="change_view_icon">
	</span>
</div>