<!DOCTYPE html>
<html>
<head>

	<title>{{ page.title }}</title>

	{% include 'page__metatag.twig' %}

</head>
<body>

	{% include 'page__header.twig' %}
 

	


	{% include 'page__footer.twig' %}

</body>
</html>