<form class="form_custom" action="../login/?reset" method="post">

	{% if reset_password_success %}
		
		<li class="form_box_item form_box_item--full">
			<p>Done! We have successfully updated your password, please check your email.<br>
			   <br>
			   Have a nice time on <a href="../">Startuppuccino!</a></p>
		</li>

	{% else %}
		
		{% if not resetOk %}

			<li class="form_box_item form_box_item--full">
				<p class="c_red">Email not found</p>
			</li>

		{% endif %}

		<li class="form_box_item form_box_item--full">
			<label>We will update your password and send you an email with the new data.</label>
			<label>Then you will be able to change the password in your settings page.</label>
		</li>

		<li class="form_box_item">
			<label for="email">Email</label>
			<input class="form_pretty_general_input" type="email" name="email" 
			       placeholder="Hello@startuppuccino.com" value="{{ login_data.email }}" required/>
		</li>
		
		<li class="form_box_item">

			<input class="form_pretty_button_input" type="submit" name="reset_password" value="Reset Password" />

		</li>
		
		<li class="form_box_item form_box_item--full">
	        <p><a class="form_pretty_button_link" href="../login/">Back to login</a></p>
	    </li>

		<li class="form_box_item form_box_item--full">
	        <p>If you have any problem, please contact us at <a href="mailto:dev@startuppuccino.com">dev@startuppuccino.com</a></p>
	    </li>

	{% endif %}

</form>