<section id="loading_screen" style="display: none">
		
	<div id="loading_circle">
		<div id="loading_ball1" class="loading_ball"></div>
		<div id="loading_ball2" class="loading_ball"></div>
		<div id="loading_ball3" class="loading_ball"></div>
		<div id="loading_ball4" class="loading_ball"></div>
	</div>

</section>