{% import "components/settings__input.twig" as settings %}


<p>
	<a class="st_button" href="./?project_id={{ project.id }}">PUBLIC VIEW</a>
</p>

<div class="p_wrapper">

	<section class="p_title">
		{{ settings.input('title', 'project_input__title', project.title|trim ) }}
	</section>

	<!--
	<section class="p_vision">
		{{ settings.input('vision', 'project_input__vision', project.vision|trim) }}
	</section>
	-->

	<section class="p_description">
		{{ settings.textarea('description', 'project_input__description', project.description|trim) }}
	</section>

</div>