<script>
// Fix to reuse people.js functions
old_target = 'PROJECT';
view_all = false;
</script>

<div class="filter_menu filter_menu--people">
	<span class="filter_menu__button filter_menu__button--active" 
	      id="filter_button--PROJECT" onclick="filterResults('PROJECT',this)">Projects</span>
	<span class="filter_menu__button" 
	      id="filter_button--IDEA" onclick="filterResults('IDEA',this)">Ideas</span>
	<!--
	<span class="change_view_button" onclick="toggleLayout()">
		<img src="../app/assets/pics/default/gridico.png" id="change_view_icon">
	</span> -->
</div>