{% extends 'page__base.twig' %}

{% block main %}

<main>

		{% if project %}

			{% if project == '404' %}
				
				<h3>Project not found. Mmm... maybe nobody is here...</h3>

			{% else %}

				{% include 'startups__project.twig' ignore missing %}
			
			{% endif %}

		{% else %}

			{% include 'startups__filters.twig' ignore missing %}

			{% if projects %}

				<div class="list_view list_view--linear" id="people_wrapper">

					{% for project in projects %}

						{% include 'startups__projectbox.twig' ignore missing %}

					{% endfor %}

				</div>

			{% endif %}

		{% endif %}

</main>

{% endblock %}