@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Regular.otf') format('opentype');}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Bold.otf') format('opentype');font-weight:900}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Light.otf') format('opentype');font-weight:200}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Bold.otf') format('opentype');font-style:italic}

* {
	transition: all 300ms;
	-webkit-transition: all 300ms;
}

html, body, #wrapper {
    height: 100%;
}

body {
    margin: 0px;
    background: #f7f7dd;
    font-family: "Maison", "Arial", sans-serif;
}

h2, h3, nav {
    font-family: "Maison", "Lato", "Arial", sans-serif;
    font-size: 220%;
}

input {
    font-family: "Maison", "Arial", sans-serif;
}

p {
    font-size: 14px;
}

.hidden_element {
    height: 0;
    width: 0;
    overflow: hidden;
    display: none;
}

.custom_padding {
    padding: 5%;
}

.custom_padding--20 {
    padding: 20px
}

.custom_padding__header {
	padding: 0px 5%;
}

.center {
    text-align: center;
}

.full_screen {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.close {
    width: 50px;
    height: 50px;
    background-color: #d70;
    cursor: pointer;
}

.close--topright {
    position: absolute;
    top: 10px;
    right: 10px;
}

#wrapper {
    background: #FBFCF0;
    min-width: 320px;
    /* max-width: 900px; */
    margin: auto;
}

/* custom span-line */
.span-line {
    display: none;
    height: 5px;
    width: 70px;
    margin: 10px 0px;
}

.span-line-white {
    background-color: #FBFCF0;
}

.span-line-black {
    background-color: #1D1E1C;
}

.span-line-orange {
    background-color: #CC6714;
}

/* Buttons */

.button {
    background-color: #fbfbfb;
    box-shadow: 0px 0px 5px #777;
    padding: 5px;
    cursor: pointer;
}

.button--big {
    display: inline-block;
    min-width: 120px;
}

/* header */

header {
    height: auto;
    color: #FBFCF0;
    text-shadow: 0px 0px 20px #1D1E1C;
}

header, .top_header, .bottom_header {
	position: relative;
}

.header--home {
    min-height: 75%;
}

.header__background {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../pics/default/background-high.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 55%;
}

.top_header {
	background-color: #fff;
	height: 70px;
	text-align: right;
}

.top_header .logo {
	height: 90px;
	position: absolute;
	top: -10px;
	left: 0;
}

.logo--link:hover {
	opacity: 0.5
}

.bottom_header span {
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #FBFCF0;
	border-radius: 20px;
}

.bottom_header a {
	color: #FBFCF0;
	display: block;
	height: 100%;
	text-decoration: none;
}

.bottom_header span:hover {
	background: #FBFCF0;
}

.bottom_header span:hover a {
	color: #CC6714;
}

#main_menu {
	font-size: 14px;
	text-align: right;
	height: 70px;
	line-height: 70px;
	text-shadow: none;
}

.menu_link {
	vertical-align: top;
    text-decoration: none;
    color: #000;
    padding: 0px 10px;
    font-weight: 900;
    display: inline-block;
    height: 70px;
    width: 80px;
    text-align: center;
}

.menu_link:hover {
    text-decoration: underline;
    background-color: #be3b43
}

.menu_link--placeholder {
	padding-left: 0px;
}

.menu_link--submenu {
	margin-left: -10px;
}

.menu_link--submenu {
	height: 0 ;
	overflow: hidden;
	background: #3A2514;
}

.menu_link--placeholder {
	background: transparent !important;
	text-decoration: none !important;
}

.menu_link--controller {
	height: auto !important;
	overflow: hidden;
	background: transparent !important
}

.menu_link--controller:hover .menu_link--submenu {
	height: 70px !important;
	z-index: 2;
	position: relative;
}

.menu_link--controller:hover .menu_link--placeholder {
    color: #999 !important;
}

.main_menu--visible {
	display: block !important;
}

.mobile_menu__button {
	display: none;
	width: 50px;
	height: 50px;
	padding: 10px 0px;
	overflow: hidden;
	cursor: pointer;
}

.mobile_menu__button div {
	width: 100%;
	height: 8%;
	margin: 13% auto;
	background: #be3b43;
	border-radius: 10%;
	-webkit-border-radius: 10%;
}

.mobile_menu__button--active div:nth-child(2){
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-top: 25%;
}

.mobile_menu__button--active div:nth-child(3){
	transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
	margin-top: -17%;
}

.mobile_menu__button--active div:nth-child(1),
.mobile_menu__button--active div:nth-child(4) {
	background: #fff;
}

/* main contents */

.split_view {
    font-size: 0px;
}

.box_view {
    font-size: 16px;
    display: inline-block;
    width: 40%; /* mind the padding */
    min-width: 200px;
    vertical-align: top;
}

.box_view--tagline h3 {
	margin: 0;
	margin-top: 70px;
}

.box_view--tagline p {
	margin: 30px auto;
}

.split_view--info {
	background-color: #3A2514
}

.split_view--info .box_view:nth-child(1) {
    background-color: #000;
    color: #FBFCF0;
}

.split_view--info .box_view:nth-child(2) {
    background-color: #FBFCF0;
    color: #000;
}

.split_view--info .box_view:nth-child(1) h3,
.split_view--info .box_view:nth-child(2) h3:nth-child(2) {
    color: #CC6714;
}

.box_view iframe {
    display: block;
    margin: auto;
}

#partners {
    background-color: #3A2514;
    color: #FBFCF0;
}

#partners img {
    height: 150px;
    margin: 10px auto;
    width: auto;
    max-width: 100%;
}

.force--hidden {
	display: none !important;
}

/* Media queries for responsiveness */

@media all and (max-width: 768px) {
    .box_view {
        display: block;
        width: auto;
    }

	.mobile_menu__button {
		display: inline-block;
	}

    #main_menu {
        display: none;
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        top:70px;
        height: calc(100% - 70px);
        background-color: #1D1E1C;
	    z-index: 1;
    }

    .menu_link {
    	height: auto;
    	width: 100%;
    	display: block;
        color: #fff;
    }

    .menu_link--placeholder {
    	display: none;
    }

    .menu_link--submenu {
    	background: transparent;
    }
}


/* LOADING SCREEN */

#loading_screen {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background: rgba(20,20,20,0.7);
    text-align: center;
    z-index: 9999999999;
}

#loading_circle {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: 20%;
    text-align: left;
    background-color: #555;
    animation: load_rotate 2s infinite linear;
    overflow: visible;
}

.loading_ball {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fa8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

#loading_ball1 {
    left: 30px;
    animation: ball_move1 2s infinite linear;
}
#loading_ball2 {
    left: 60px;
    top: 30px;
    animation: ball_move2 2s infinite linear;
}
#loading_ball3 {
    top: 60px;
    left: 30px;
    animation: ball_move3 2s infinite linear;
}
#loading_ball4 {
    top: 30px;
    animation: ball_move4 2s infinite linear;
}

@keyframes load_rotate {
    from {transform: rotate(0deg)}
    50% {background-color: #fa8}
    to {transform: rotate(360deg)}
}

@keyframes ball_move1 {
    from {transform: translateY(0px);}
    50% {transform: translateY(-40px);background-color: #555}
    to {transform: translateY(0px);}
}

@keyframes ball_move2 {
    from {transform: translateX(0px);}
    50% {transform: translateX(40px);background-color: #555}
    to {transform: translateX(0px);}
}

@keyframes ball_move3 {
    from {transform: translateY(0px);}
    50% {transform: translateY(40px);background-color: #555}
    to {transform: translateY(0px);}
}

@keyframes ball_move4 {
    from {transform: translateX(0px);}
    50% {transform: translateX(-40px);background-color: #555}
    to {transform: translateX(0px);}
}

/* SEARCH */

.search {
    text-align: left;
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: 9;
            transition: all 400ms;
    -webkit-transition: all 400ms;
    width: 100%;
    height: 100%;
    background: #fff;
            transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.search--visible {
            transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
}

.search__header {
    height: 50px;
    overflow: hidden;
}

.search__header > input[type=text]{
    margin: 5px 20px;
    margin-right: 10px;
    min-width: 280px;
    width: calc(100% - 90px);
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    background: #f2f2f2;
    border: none;
    font-weight: 200;
    vertical-align: middle;
}

.search__header > .tempclose {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #f00;
    color: #fff;
    font-weight: 200;
    text-align: center;
    line-height: 30px
}

.search__main {
    position: relative;
    height: calc(100% - 140px);
    margin: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search_result {
    position: relative;
    height: 100px;
    font-size: 0;
    width: 100%;
}

.search_result > a {
    display: block;
    position: relative;
    height: 100%;
    margin: 10px;
    background: #f9f9f9;
    color: #222
}

.search_result__pic,
.search_result__labels {
    display: inline-block;
    vertical-align: top
}

.search_result__pic {
    height: 100%;
}

.search_result__labels {
    font-size: 16px
}


.search__main::-webkit-scrollbar {
    width: 0.7em;
}

.search__main::-webkit-scrollbar-track {
    background-color: #fefefe
}
 
.search__main::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  outline: 1px solid #555;
}