/* Fonts */
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Regular.otf') format('opentype');}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Bold.otf') format('opentype');font-weight:900}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Light.otf') format('opentype');font-weight:200}

@import 'https://fonts.googleapis.com/css?family=Roboto';

$font-stack: "Roboto", "Arial", sans-serif;
$font-text: "Roboto", "Arial", san-serif;
$font-title: "Maison", "Roboto", "Arial", san-serif;


$picture-filter-opacity: 0.3;

$background-color: #f7f7dd;
$logo-green: #7fb03b;
$logo-red: #be3b43;
$logo-brown: #513a2b;

$palette-yellow: #fcc124;

$transition-time: 300ms;

$page-lateral-padding: 40px;
$page-lateral-padding-mobile: 15px;


@import 'mixes';
@import 'header';
@import 'search';
@import 'askforhelp';
@import 'flexcenter';


/* *** */

html, body {
    height: 100%;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

html {
	@include box-sizing(border-box);
}

*, :before, *:after {
	@include box-sizing(inherit);
}

body {
	font-family: $font-text;
	background-color: $background-color;
	margin: 0;
	padding: 0;
}

main {
	position: relative;
	padding: 0px $page-lateral-padding;
}

@media all and (max-width: 700px){
	main {padding: 0px $page-lateral-padding-mobile;}
}

input, a, h1, h2, h3, h4, h5, header, .page_title {
	font-family: $font-stack;
}

input[type=submit],
input[type=button],
input[type=file] {
	cursor: pointer;
}

/* General picture */
.picture {
	position: relative;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

/* Role filters */

.role_filter {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	opacity: $picture-filter-opacity;
}

.role_filter--student {
	@extend .role_filter;
	background-color: $logo-green;
}
.role_filter--mentor {
	@extend .role_filter;
	background-color: $logo-red;
}
.role_filter--educator {
	@extend .role_filter;
	background-color: $logo-brown;
}

/* general color style classes */

.c_green, .c_student {
	color: $logo-green;
	fill: $logo-green;
  border-color: $logo-green;
  box-shadow-color: $logo-green;
  -webkit-box-shadow-color: $logo-green;
}
.c_red, .c_mentor {
	color: $logo-red;
	fill: $logo-red;
  border-color: $logo-red;
  box-shadow-color: $logo-red;
  -webkit-box-shadow-color: $logo-red;
}
.c_brown, .c_educator {
	color: $logo-brown;
	fill: $logo-brown;
  border-color: $logo-brown;
  box-shadow-color: $logo-brown;
  -webkit-box-shadow-color: $logo-brown;
}

.b_student {
  background-color: $logo-green;
}

.b_mentor {
  background-color: $logo-red;
}

.b_educator {
  background-color: $logo-brown;
}

/* Buttons */
    
.st_button {
    border: none;
    padding: 7px;
    margin: 3px;
    text-decoration: none;
    cursor: pointer;
    background-color: $logo-brown;
    color: #fff;
    @include transition($transition-time);

    &:hover {
      color: $palette-yellow !important;
    }
}