@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transition($ttime){
	-webkit-transition: all $ttime ease-in-out;
			transition: all $ttime ease-in-out;
}

@mixin box-sizing($box-size) {
	-webkit-box-sizing: $box-size;
       -moz-box-sizing: $box-size;
            box-sizing: $box-size;
}

@mixin scale($x){
  transform: scale($x);
  -webkit-transform: scale($x);
}

@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  -moz-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  -ms-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  -o-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  filter: unquote($filter-type+unquote('(#{$filter-amount})'));
}

@mixin bright($filter-amount) { 
  -webkit-filter: brightness+unquote('(#{$filter-amount})');
  -moz-filter: brightness+unquote('(#{$filter-amount})');
  -ms-filter: brightness+unquote('(#{$filter-amount})');
  -o-filter: brightness+unquote('(#{$filter-amount})');
  filter: brightness+unquote('(#{$filter-amount})');
}

.display_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.display_flex_column {
	@extend .display_flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.display_flex_vertical_aligner {
	@extend .display_flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.center_column {
    @extend .display_flex_column;
    height: 100%;

    > .center_aligner {
        @extend .display_flex_vertical_aligner;
        height: 100%;
    }

}


/* Fonts */
/*
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Regular.otf') format('opentype');}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Bold.otf') format('opentype');font-weight:900}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Light.otf') format('opentype');font-weight:200}
@font-face{font-family:'Maison';src:url('../fonts/Maison-Mono-Bold.otf') format('opentype');font-style:italic}
*/

@import 'https://fonts.googleapis.com/css?family=Roboto';

$font-stack: "Roboto", "Arial", sans-serif;
$font-text: "Roboto", "Arial", san-serif;

$picture-filter-opacity: 0.3;

$background-color: #f7f7dd;
$logo-green: #7fb03b;
$logo-red: #be3b43;
$logo-brown: #513a2b;

$palette-yellow: #fcc124;

$transition-time: 300ms;

$page-lateral-padding: 40px;
$page-lateral-padding-mobile: 15px;

@import 'header';
@import 'search';
@import 'askforhelp';


/* *** */

html, body {
    height: 100%;
}

html {
	@include box-sizing(border-box);
}

*, :before, *:after {
	@include box-sizing(inherit);
}


body {
	font-family: $font-text;
	background-color: $background-color;
	margin: 0;
	padding: 0;
}

main {
	position: relative;
	padding: 0px $page-lateral-padding;
}

@media all and (max-width: 700px){
	main {padding: 0px $page-lateral-padding-mobile;}
}

input, a, h1, h2, h3, h4, h5, header, .page_title {
	font-family: $font-stack;
}

input[type=submit],
input[type=button],
input[type=file] {
	cursor: pointer;
}

/* General picture */
.picture {
	position: relative;
	background-color: $logo-green;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

/* Role filters */

.role_filter {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	opacity: $picture-filter-opacity;
}

.role_filter--student {
	@extend .role_filter;
	background-color: $logo-green;
}
.role_filter--mentor {
	@extend .role_filter;
	background-color: $logo-red;
}
.role_filter--educator {
	@extend .role_filter;
	background-color: $logo-brown;
}

/* general color style classes */

.c_green, .c_student {
	color: $logo-green;
	fill: $logo-green;
  border-color: $logo-green;
  box-shadow-color: $logo-green;
  -webkit-box-shadow-color: $logo-green;
}
.c_red, .c_mentor {
	color: $logo-red;
	fill: $logo-red;
  border-color: $logo-red;
  box-shadow-color: $logo-red;
  -webkit-box-shadow-color: $logo-red;
}
.c_brown, .c_educator {
	color: $logo-brown;
	fill: $logo-brown;
  border-color: $logo-brown;
  box-shadow-color: $logo-brown;
  -webkit-box-shadow-color: $logo-brown;
}

.b_student {
  background-color: $logo-green;
}

.b_mentor {
  background-color: $logo-red;
}

.b_educator {
  background-color: $logo-brown;
}

/* Buttons */
    
.st_button {
    border: none;
    padding: 7px;
    margin: 3px;
    text-decoration: none;
    cursor: pointer;
    @include border-radius(15px);
    @include box-shadow(0px 0px 0px 1px);
    @include transition($transition-time);

    &:hover {
      color: $palette-yellow !important;
      box-shadow-color: $palette-yellow !important;
      -webkit-box-shadow-color: $palette-yellow !important;
    }
}