/* SEARCH */

$search-result-height: 120px;

.search {
    text-align: left;
    position: fixed;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    background: $header-background;
            transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    z-index: 999999;
    @include transition($transition-time);
}

.search--visible {
            transform: translateY(0) !important;
    -webkit-transform: translateY(0) !important;
}

.search__header {
    height: 120px;
    overflow: hidden;

    > input[type=text]{
        margin: 15px 20px;
        margin-right: 10px;
        min-width: 280px;
        width: calc(100% - 90px);
        height: 90px;
        line-height: 90px;
        font-size: 72px;
        background: $background-color;
        border: none;
        font-weight: 100;
        vertical-align: middle;

        &:focus {
            border: none !important;
            @include box-shadow(none !important);
            outline: none;
        };
    }

    > .tempclose {

        $tempclose-size: 30px;

        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        width: $tempclose-size;
        height: $tempclose-size;
        background: #f00;
        color: #fff;
        font-weight: 200;
        text-align: center;
        line-height: $tempclose-size;
        @include border-radius(50%);
    }

}

.search__main {
    position: relative;
    height: calc(100% - 140px);
    margin: 20px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.7em;
    }

    &::-webkit-scrollbar-track {
        background-color: $background-color
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: #333;
      outline: 1px solid #444;
    }
}

.search_result {
    position: relative;
    height: $search-result-height;
    font-size: 0;
    
    > a {
        display: block;
        position: relative;
        height: 100%;
        padding: 10px;
        color: $logo-brown;
        @include transition($transition-time);

        &:hover{
            background-color: #f9f9f9;
        }
    }    
}

.search_result__pic,
.search_result__labels {
    display: inline-block;
    vertical-align: top
}

.search_result__pic {
    position: relative;
    height: 100%;
    width: $search-result-height - 20px;
    text-align: center;
    margin-right: 30px;

    > div {
        position: relative;
        padding: 0px 4px;
        @include border-radius(50%);
        height: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
}

.search_result__labels {
    font-size: 22px;
    padding: 0px 5px;
}