
@import 'general';


$session-width: 650px;
$session-background-color: #fff;
$session-border-separator: none /* 1px dotted #999 */;
$session-box-shadow: none /* 0px 0px 1px #bbb */;
$session-margin-top: 30px;

.session {

	width: 100%;
	max-width: $session-width;
	margin-top: $session-margin-top;
	background-color: $session-background-color;
	border-bottom: $session-border-separator;
	@include box-shadow($session-box-shadow);

	> .head,
	> .guests,
	> .description,
	> .foot {
		padding: 0px 20px;
	}

	> .head {
		padding-top: 1px !important;

		> h3 {
			font-family: $font-title !important;
			color: $palette-yellow;
		}
	}

	> .foot,
	> .resources,
	> .comments {
		padding: 20px;
		background-color: #f9f9f9;
	}

	> .resources,
	> .comments {
		display: none;
	}

	> .foot > span {
		@extend .st_button;
		font-size: 12px
	}

}

.guests {

	> .guest {
		display: inline-block;
		width: 40px;
		height: 40px;
		margin: 5px 1px;
		background-color: $logo-red;
		cursor: pointer;
		@include border-radius(50%);
		overflow: hidden;

		>a{
			display: block;
			height: 100%;
			
			div {
				@extend .picture;
				height: 100%;
			}
		}
	}
}

.resources {

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: $logo-brown;
	}

}


.comments {

	>.toggle_button {
		cursor: pointer;
		text-decoration: underline;
		background: transparent;
		border: none;
		color: $palette-yellow;

		&:before {
			content: ">";
		}

	}

}

/* Section only for mentors - sidebar right */

.column_right {
	width: 100%;
	background-color: $session-background-color;
	@include box-shadow($session-box-shadow);
}

.sidebar_container {
	> .head {
		height: 40px;
		line-height: 40px;
		background-color: $logo-green;
		color: $session-background-color;
		padding: 0px 10px;
		font-family: $font-title;
	}
}

.list_el {
	padding: 2px 10px;

	> .list_el__left,
	> .list_el__right {
		display: inline-block;
		vertical-align: middle;
	}

	> .list_el__left {
		width: calc( 99% - 42px );
		> p {
			margin: 5px;
		}
	}

	> .list_el__right { 
		width: 40px;
		> span {		
			@extend .st_button;
			font-size: 12px
		}
	}
}




@media all and (min-width: 1040px){

	.column_right {
		position: fixed;
		top: $header-height + $session-margin-top;
		right: $page-lateral-padding;
		max-width: 300px;
	}

}

@media all and (max-width: 1039px){

	.session {
		max-width: 100%
	}

	.column_right {
		height: 40px;
		margin-top: $session-margin-top;
		overflow: hidden;
		@include transition($transition-time);

		&:hover {
			height: 100px;
		}
	}

}