
@import 'general';


$session-width: 650px;

$session-border-separator: 1px dotted #999;

.session {

	width: 100%;
	max-width: $session-width;
	border-bottom: $session-border-separator;

	h3 {
		color: $palette-yellow;
	}

}


.resources {

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: $logo-brown;
	}

}


.comments {

	>.toggle_button {
		cursor: pointer;
		text-decoration: underline;
		background: transparent;
		border: none;
		color: $palette-yellow;

		&:before {
			content: ">";
		}

	}

}