
@import 'general';

$goals-picture-size: 180px;
$description-font-size: 20px;

main {
	color: $logo-brown;

	> section {
		text-align: center;
		padding: #{$header-height + 60px} 0px;
	}

}


.land {

	&__logo {
		margin-top: 80px;
		max-width: 900px;
	}

	&__separator {
		width: 100%;
		max-width: 950px;
		height: 1px;
		background-color: #d7d7cc;
		margin: 20px auto;
	}

	&__anchors {

		> span {
			margin: 0px 10px;
		}
	
		a {
			@extend .st_button;
			display: inline-block;
			width: 100px;
			color: $logo-brown;
			background-color: #fff;
		}
	
	}

}


.goals {

	&__box {

		display: inline-block;
		vertical-align: top;
		padding: 20px;

		&:first-child {
			margin-right: 50px;

			> img {
				background-color: $logo-red;
			}

		}

		&:last-child {
			margin-left: 50px;

			> img {
				background-color: $logo-green;
			}

		}

		> h4 {
			font-family: $font-title;
			font-size: 27px;
		}

		> img {
			display: inline-block;
			width: $goals-picture-size;
			height: $goals-picture-size;
			@include border-radius(50%);
			overflow: hidden;
		}

		> p {
			font-size: $description-font-size
		}

	}

}

@media all and (max-width: 1100px) {
	.goals__box {
    	margin: 10px !important;
    }
}

.description {

	&__tagline {

		> svg,
		> p {
			display: inline-block;
			vertical-align: middle;
		}

		> svg {
			width: 250px;
		}

		> p {
			text-align: left;
			font-size: 42px;
			font-family: $font-title;
		}

	}

	&__longtext {
		margin: auto;
		max-width: 900px;
		font-size: $description-font-size;
	}

}

@media all and (max-width: 700px) {
	.description__tagline {
		> svg {
			width: 120px
		}
		> p {
			font-size: 24px
		}
	}
	.description__longtext > p {
		font-size: 17px
	}
}
@media all and (max-width: 360px) {
	.description__tagline {
		> svg {
			width: 80px
		}
		> p {
			font-size: 18px
		}
	}
}

.courses {

	> h4 {
		font-size: 32px;
		color: $logo-red;
		font-family: $font-title;
	}

	&__box {
		position: relative;
		max-width: 400px;
		margin: auto;
	}

	a {
		text-decoration: none;
		color: $logo-brown;
		display: block;
		height: 100%;
		@include transition($transition-time);
	
		&:hover {
			color: $palette-yellow;
		}

		> img,
		> span {
			vertical-align: middle;
		}

		> img {
			max-width: 150px;
			max-height: 150px;
		}

		> span {
			font-size: 32px;
		}
	}

}

.contacts {


	> h4 {
		font-size: 32px;
		color: $logo-green;
		font-family: $font-title;
	}

	span,
	input {
		margin: 10px;
		height: 40px;
		line-height: 30px;
		vertical-align: middle;
	}

	span {
		@extend .st_button;
		display: inline-block;
		width: 100px;
		color: $logo-brown;
		background-color: #fff;
	}

	input[type=email] {
		font-size: 16px;
		width: 250px;
		padding: 7px;
		color: $logo-brown;
		border: 1px solid #d7d7cc;
	}

}


footer {
	color: $logo-brown;

	a {
		color: $logo-brown;
	}

}