.display_flex, .display_flex_column, .center_column, .display_flex_vertical_aligner, .center_column > .center_aligner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.display_flex_column, .center_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.display_flex_vertical_aligner, .center_column > .center_aligner {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.center_column {
  height: 100%; }
  .center_column > .center_aligner {
    height: 100%; }

/* Fonts */
@font-face {
  font-family: 'Maison';
  src: url("../fonts/Maison-Mono-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'Maison';
  src: url("../fonts/Maison-Mono-Bold.otf") format("opentype");
  font-weight: 900; }
@font-face {
  font-family: 'Maison';
  src: url("../fonts/Maison-Mono-Light.otf") format("opentype");
  font-weight: 200; }
@font-face {
  font-family: 'Maison';
  src: url("../fonts/Maison-Mono-Bold.otf") format("opentype");
  font-style: italic; }
main {
  padding-top: 70px !important; }

header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0px 40px;
  margin: auto;
  font-size: 0px;
  background-color: #f7f7dd;
  -webkit-box-shadow: 0px 0px 2px #a7a7a7;
  box-shadow: 0px 0px 2px #a7a7a7;
  margin-bottom: 0px; }
  header ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  header .header_element, header > .logo, header > .menu {
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: top; }
  header > .logo img {
    height: 100%; }
  header > .menu {
    font-size: 17px;
    width: calc(100% - 229.26087px );
    text-align: right; }
    header > .menu a:before {
      content: ""; }
    header > .menu a {
      color: #513a2b;
      text-decoration: none; }
    header > .menu > ul {
      margin-right: 30px;
      height: 70px; }
  header .menu_link, header .menu_link--top, header .menu_link--sub {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px; }
  header .menu_link--top {
    height: 70px;
    line-height: 70px;
    text-align: center; }
  header .submenu_trigger {
    padding-bottom: 14px; }
  header .menu_profile_picture {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    margin-top: 14px; }
  header .submenu {
    position: absolute;
    top: 70px;
    height: 0px;
    overflow: hidden;
    background: #f9f9f9;
    padding: 0px 10px;
    -webkit-box-shadow: 0px 0px 2px #a7a7a7;
    box-shadow: 0px 0px 2px #a7a7a7;
    -webkit-transition: all 300ms;
    transition: all 300ms; }
  header .menu_link--sub {
    height: 40px;
    line-height: 40px;
    text-align: left; }
  header .submenu_trigger:hover > .submenu {
    height: 80px; }

/* SEARCH */
.search {
  text-align: left;
  position: fixed;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  z-index: 2;
  opacity: 0; }

.search--visible {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  opacity: 1;
  -webkit-transition: all 400ms;
  transition: all 400ms; }

.search__header {
  height: 50px;
  overflow: hidden; }
  .search__header > input[type=text] {
    margin: 5px 20px;
    margin-right: 10px;
    min-width: 280px;
    width: calc(100% - 90px);
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    background: #f2f2f2;
    border: none;
    font-weight: 200;
    vertical-align: middle; }
  .search__header > .tempclose {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: #f00;
    color: #fff;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.search__main {
  position: relative;
  height: calc(100% - 140px);
  margin: 20px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .search__main::-webkit-scrollbar {
    width: 0.7em; }
  .search__main::-webkit-scrollbar-track {
    background-color: #fefefe; }
  .search__main::-webkit-scrollbar-thumb {
    background-color: #f2f2f2;
    outline: 1px solid #555; }

.search_result {
  position: relative;
  height: 100px;
  font-size: 0;
  width: 100%; }
  .search_result > a {
    display: block;
    position: relative;
    height: 100%;
    margin: 10px;
    background: #f9f9f9;
    color: #222; }

.search_result__pic,
.search_result__labels {
  display: inline-block;
  vertical-align: top; }

.search_result__pic {
  height: 100%; }

.search_result__labels {
  font-size: 16px; }

#askforhelp_button {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../pics/default/ask.svg");
  cursor: pointer; }

#askforhelp {
  position: fixed;
  z-index: 99999;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.9);
  color: #fff;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  text-align: center; }
  #askforhelp .tempclose {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    background: #f00;
    color: #fff;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.askforhelp_form {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  text-align: center; }
  .askforhelp_form > input, .askforhelp_form > textarea {
    display: block;
    border: none;
    margin: 15px 0px;
    width: 100%; }
  .askforhelp_form > input[type=submit] {
    background-color: #fff;
    color: #000;
    margin: auto;
    width: auto; }
  .askforhelp_form > input[type=submit]:hover {
    background-color: #000;
    color: #fff; }

/* *** */
html, body {
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, :before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: san-serif;
  background-color: #fff;
  margin: 0;
  padding: 0; }

main {
  position: relative;
  padding: 0px 40px; }

@media all and (max-width: 700px) {
  main {
    padding: 0px 15px; } }
input, a, h1, h2, h3, h4, h5, header, .page_title {
  font-family: "Maison", "Lato", "Arial", sans-serif; }

input[type=submit],
input[type=button],
input[type=file] {
  cursor: pointer; }

/* Page title - subheader */
p.page_title {
  margin: 0px;
  padding: 50px 0px; }
  p.page_title:before {
    content: ">"; }

/* General picture */
.picture, header .menu_profile_picture {
  position: relative;
  background-color: #7fb03b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

/* Role filters */
.role_filer, .role_filer--student, .role_filer--mentor, .role_filer--educator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3; }

.role_filer--student {
  background-color: #7fb03b; }

.role_filer--mentor {
  background-color: #be3b43; }

.role_filer--educator {
  background-color: #513a2b; }

/* general color style classes */
.c_green {
  color: #7fb03b;
  fill: #7fb03b; }

.c_red {
  color: #be3b43;
  fill: #be3b43; }

.c_brown {
  color: #513a2b;
  fill: #513a2b; }

main, header, footer {
  position: relative;
  max-width: 1300px;
  margin: auto; }

main {
  padding-top: 0px !important; }

.split_view {
  padding-top: 30px;
  font-size: 0px;
  width: 100%;
  margin: auto; }
  .split_view > .split_view__column {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    min-width: 300px; }
  .split_view td {
    vertical-align: top;
    width: 50%;
    padding: 0px 30px;
    display: inline-block;
    min-width: 280px; }

.tagline_big {
  font-size: 92px;
  line-height: 112px;
  font-family: "Maison", "Lato", "Arial", sans-serif;
  font-weight: 900;
  margin: 0px; }
  .tagline_big > span {
    display: block; }

.about_links {
  color: #513a2b; }
  .about_links:before {
    content: ">"; }

footer {
  padding: 0px 40px;
  text-align: right; }

@media all and (max-width: 700px) {
  .tagline_big {
    font-size: 45px;
    line-height: 60px; }

  .split_view__column {
    width: calc(100% - 15px) !important; }

  td {
    width: calc(100% - 15px) !important;
    padding: 0px !important; }
    td > #logo_balls {
      width: 200px; } }

/*# sourceMappingURL=about.css.map */
