
@import 'general';

@import 'form';

textarea {
	width: 100% !important;
	max-width: 100%;
}

.settings__wrapper {
	background-color: #fbfbfb;
}

.message_alert_container {
	@extend form.form_custom;

	background-color: #333;
	color: #fff;

	a {
		color: #fff;
	}
}

.form_custom {

	//background-color: #fff !important;
	
	margin-bottom: 0px !important;
	border-bottom: 2px solid #ddd;
	padding-top: $header-height !important;
	padding-bottom: $header-height !important;
	@include box-shadow(none !important);

	h4 {
		color: $palette-yellow;
		font-family: $font-title !important;
	}

}

.settings__menu {
	position: relative;
	padding: ($header-height/2) 0px;
	height: auto;
	overflow: hidden;
	max-width: 640px;

    > span > a {
    	@extend .st_button;
    }

}