#new_idea__section {
	display: none;
	position: fixed;
	top:0 ;left: 0;
	background-color: #567;
	padding-top: 50px;
	width: 100%;
	height: 100%;
}

#new_idea__button {
	margin: 20px;
	display: inline-block;
}