.list_view {
	text-align: center;
}

/* Filters styles */

.filter_menu {
	text-align: center;
	height: 70px;
}

.filter_menu__button {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin: 10px 20px;
	background: #55cfaf;
	color: #fbfbfb;
	list-style: none;
	box-shadow: 0px 0px 7px #999;
	cursor: pointer;
}

.filter_menu__button--active {
	box-shadow: none;
	background-color: #333;
	color: #d7d7d7;
}


/* Cards view */

.card {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: auto;
	overflow: hidden;
	background: #fbfbfb;
	text-align: left;
	margin: 10px 20px;
	box-shadow: 0px 0px 7px #123;
	padding: 5px;
}

.card--hidden {
	display: none;
}

.card--MENTOR {
	background-color: #77f
}

.card--STUDENT {
	background-color: #7f7
}

.card__details--project {
	background-color: #77f
}

.card__details--project:hover {
	background-color: #99a
}

.card a {
	text-decoration: none !important;
	color: #fbfbfb;
}

.card__details span {
	display: block;
	padding: 1px 10px;
	line-height: 20px;
	font-size: 15px;
}

.card__details span:first-child {
	padding-top: 7px;
}

.card__details_name {
	font-weight: 900
}

.card__details_role {
	color: #555
}

.card__details_background {
	color: #557dff;
}

.card__details_pic {
	width: 200px;
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* cards ideas */

.card--idea {
	background: #789;
	color: #f2f2f2
}

.card__details_extra {
	border-top: 2px solid #678;
}