.list_view {
	text-align: center;
}

/* Filters styles */

.filter_menu {
	text-align: center;
	height: 70px;
}

.filter_menu__button {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin: 10px 20px;
	background: #55cfaf;
	color: #fbfbfb;
	list-style: none;
	box-shadow: 0px 0px 7px #999;
	cursor: pointer;
}

.filter_menu__button--active {
	box-shadow: none;
	background-color: #333;
	color: #d7d7d7;
}


/* Cards view */

.card {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: auto;
	overflow: hidden;
	background: #fbfbfb;
	text-align: left;
	margin: 10px 20px;
	box-shadow: 0px 0px 7px #123;
	padding: 5px;
}

.card--hidden {
	display: none;
}

.card--MENTOR {
	background-color: #77f
}

.card--STUDENT {
	background-color: #7f7
}

.card--EDUCATOR {
	background-color: #f77
}

.card__details--project {
	background-color: #77f
}

.card__details--project:hover {
	background-color: #99a
}

.card a {
	text-decoration: none !important;
	color: #fbfbfb;
}

.card__details span {
	display: block;
	padding: 1px 10px;
	line-height: 20px;
	font-size: 15px;
}

.card__details span:first-child {
	padding-top: 7px;
}

.card__details_name {
	font-weight: 900
}

.card__details_role {
	color: #555
}

.card__details_background {
	color: #557dff;
}

.card__details_pic {
	width: 200px;
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* cards ideas */

.card--idea {
	background: #0080FF;
	color: #fff
}

.card__details_extra {
	border-top: 2px solid #678;
}

.card__button {
	cursor: pointer;
	line-height: 32px
}

.card__button--full {
	display: block;
	background: #86FF9D;
	color: #123;
}

.card__button--full:hover {
	background: #fb8;
}

.card__button--nobackground {
	background: transparent !important;
	cursor: default;
}

/* Listview with horizontal elements */

.line_element {
	margin: 7px 20px;
	color: #333;
	background-color: #fbfbfb;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 0px;
}

.line_element--header {
	background-color: #234;
	color: #fff;
}

.line_element--fluo {
	background-color: #ff7;
}

.line_element__cell {
	padding: 5px 1%;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	min-width: 100px;
	width: 23%;
	text-align: left;
}

.line_element__cell--button {
	cursor: pointer;
	background-color: #22aa22;
	color: #fff;
	text-align: center;
}

.line_element__cell--button:hover {
	background-color: #227722;
}

/* List View */
/* used in the the idea page */

.list_element {
	position: relative;
	margin: 7px auto;
	padding: 15px;
}

.list_element--idea {
	background-color: #F9ECE2;
}