/* *********************** Layout team list ********************** */

.team__details {
	text-align: left;
}

.team__details a {
	text-decoration: none;
	color: #222;
}

.team__details_pic, .team__details_title {
	display: inline-block;
	vertical-align: middle;
}

.team__details_pic {
	width: 150px;
	height: 150px;
	background-color: #E7E7E7
}

.team__details_title {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-size: 22px
}

/* ******************* END Layout team list ****************** */

/************************** PROJECT CHART **********************/


.project_chart {
	background: #fefefe;
	padding: 20px;
	height: auto;
	overflow: hidden;
}

.project_chart__line {
	position: relative;
}

.project_chart__line > hr {
	height: 5px;
	background-color: #555
}

.milestone_wrapper {
	display: flex;
	display: -webkit-flex;
}

.milestone {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 5px;
	-webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}

.milestone__label {
	display: block;
}

.milestone__date {
	color: #555;
	font-size: 12px
}

.milestone__dot {
	position: absolute;
	top: 50px;
	left: calc(50% - 10px);
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #96FF00;
	z-index: 1;
}

.project_chart__line__arrow {
	display: block;
	overflow: hidden;
	height: 30px;
	width: 17px;
	position: absolute;
	top:-13px;right: -4px
}
.project_chart__line__arrow:before {
	border: 15px solid transparent;
	content: ' ';
	display: block;
	border-left-color: #555;
}

/************************** END - PROJECT CHART **********************/